.section-which-product {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 135%;
  @media (max-width: 1023.9px) {
    width: 100%;
    font-size: 16px;
  }

  @media (max-width: 767.9px) {
    width: 100%;
  }
}

.section-which-product__title {
  margin: 0 0 0 6.5%;
  padding: 3% 0 0 0;
  line-height: 20px;
  text-align: center;
  @media (max-width: 767.9px) {
    font-size: 18px;
  }
}

.section-which-product__introduction {
  width: 68%;
  margin: 30px auto;
  &::first-letter {
    padding-left: 9%;

  }
  @media (max-width: 1023.9px) {
    width: 85%;
  }

  @media (max-width: 767.9px) {
    font-size: 15px;
    width: 100%;
  }
}

.section-which-product__table {
  width: 860px;
  margin: 0 auto;
  line-height: 160%;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  @media (max-width: 1023.9px) {
    width: 100%;
  }

  @media (max-width: 767.9px) {
    width: 100%;
    font-size: 14px;
  }
}

.section-which-product__table__center-none {
  text-align: start;
}

td {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.section-which-product__information {
  width: 66%;
  margin: 20px auto;
  &::first-letter {
    padding-left: 9%;
  }
  @media (max-width: 1023.9px) {
    width: 90%;
  }

  @media (max-width: 767.9px) {
    width: 100%;
  }
}