.section-why-labeling {
  font-size: 20px;
  line-height: 32px;
  @media (max-width: 1023.9px) {
    font-size: 16px;
    width: 100%;
    margin-bottom: 1%;
    line-height: 20px;
  }

  @media (max-width: 767.9px) {
    font-size: 15px;
  }
}

.section-why-labeling__title {
  margin: 0 0 0 7%;
  padding: 0 0 2% 0;
  text-align: center;
  padding-top: 20px;
  @media (max-width: 767.9px) {
    font-size: 18px;
  }
}

.section-why-labeling__information {
  margin: 0;
  padding: 0 0 0 5%;
  text-align: center;
  @media (max-width: 767.9px) {
    width: 100%;
    padding: 0;
  }
}

.section-why-labeling__list {
  width: 65%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  @media (max-width: 767.9px) {
    width: 100%;
  }
}

.section-why-labeling__list__block {
  text-indent: 7.5%;
  margin: 0;
  @media (max-width: 1023.9px) {
    width: 100%;
  }
}
